body {
    overflow-x: hidden;
    background-color: whitesmoke;
}
#body {
    border-radius: 20px;
}
.form-signin {
    width: unset !important;
}
.btn-blue { 
    background-color: #424dc1; 
    color: whitesmoke;
}
.btn-blue:hover {
    background-color: #2e38a3;
    color: whitesmoke;
}